*
   margin: 0
   padding: 0
   box-sizing: border-box

body
    header
        position: fixed
        top: 0
        left: 0
        width: 100%
        padding: 12px 120px
        background: #000
        display: flex
        justify-content: space-between
        align-items: center
        z-index: 100
        .logo
            font-size: 25px
            color: #fff
            text-decoration: none
            font-weight: 600
        nav
            a
                font-size: 18px
                color: #fff
                text-decoration: none
                font-weight: 500
                margin-left: 35px
                transition: 3s
    main
        article
            margin-top: 0
            section
                min-height: 100vh
                display: flex
                justify-content: center
                align-items: center
                background: #1f242d   
                padding:0
                color: #fff
                font-weight: 200
                margin: 0
                h3
                    width: 275px
                    font-size: 25px
                    
                figure
                    width: 410px
                    img
                       width: 575px
                        
                    figcaption 
                        
                            
                        
                    

            
    footer
        min-height: 25vh
        display: flex
        justify-content: center
        align-items: center
        background: #1d222b
        font-size: 35px 
        font-weight: 300
        color: #fff
                


            
            

    


    


