body
    max-width: 1100px
    margin: 0 auto
    padding: 0 30px
    header
        
        nav
            justify-content: space-between
            .logo
                font-size: 1.5rem
                font-weight: 700
            a
                text-decoration: none
                
                
        img
                width: 490px
                height: 400px
                
        span
            text-align: center   
    main
        article
            display: flex
            section
                flex: 1
                margin: 10px
                figure
                    margin: 0
                    img
                        width: 300px
                        height: 300px
                        margin: 0
        header


                


                
            
            
